.fcontainer{
    display:flex;
    border: 2px solid black;
    height: 7vh;
    /* flex-direction: row; */
    justify-content: flex-end;
    /* justify-content: center; */
    align-items: center;
    border-radius: 30px;
    flex-wrap: wrap;


 
}

.flexbox{
    /* display: flex; */
    background-color: red;
    border: 2px solid black;
    margin: 12px;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    /* align-items: center;
    justify-content: center; */
}