.container{
    background-color: red;
    height: 700px;
    width: 900px;
    display: grid;
    /* grid-template-rows: 130px 130px 130px;
    grid-template-columns: 130px 130px 130px; */
    grid-template-rows: 1fr 2fr 3fr;
    grid-template-columns: 1fr 2fr 3fr;
    /* row-gap: 50px;
    column-gap: 50px; */
    /* grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr); */
    row-gap: 20px;
    column-gap: 20px;
   


}
.item{
   /* background-color: rgb(7, 248, 151); */
    /* height: 122px;
    width: 122px; */


}

.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    
}



[class|="fa"]{
    color: aqua;
    height: 5em;
   
}